@font-face {
  font-family: "e-Ukraine-Light";
  src: url("/assets/fonts/ukr/e-Ukraine-Light.otf");
  src: local(""), url("/assets/fonts/ukr/e-Ukraine-Light.otf") format("otf");
}

@font-face {
  font-family: "e-Ukraine-Bold";
  src: url("/assets/fonts/web/e-Ukraine-Regular.woff");
  src: local(""), url("/assets/fonts/web/e-Ukraine-Regular.woff") format("woff");
}

@font-face {
  font-family: "e-Ukraine-Light";
  src: url("/assets/fonts/web/e-Ukraine-Light.woff");
  src: local(""), url("/assets/fonts/web/e-Ukraine-Light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.1px;
}

:root {
  --header-bg: #1942a6;
  --heading-color: #000;
  --paragraph-color: #000;
}

body {
  font-family: e-Ukraine-Bold;
  color: #171717;
  letter-spacing: 0.1px;
}
.dark-mode body {
  filter: grayscale();
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 72.8px;
  letter-spacing: 0.1px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.1px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  letter-spacing: 0.1px;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.h-5-heading {
  letter-spacing: 0.1px;
}
h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.1px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

img,
video {
  /* display: block; */
  /* max-width: 100%; */
  height: auto;
  object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

a {
  color: #000;
  letter-spacing: 0.1px;
}

i {
  transition: all 0.3s ease-in-out;
}

.dark-mode .bx.bx-check {
  color: #000;
}

i:hover,
img:hover {
  transition: all 0.3s ease-in-out;
}
.height-100 {
  height: 100% !important;
}

/* Margins */
.m .box-mt {
  margin-top: 24px;
}

.mb-lg {
  margin: 0 0 64px 0;
}

.mt-lg {
  margin-top: 50px;
}

.mt-m {
  margin-top: 40px;
}
.mb {
  margin-bottom: 12px;
}
.mb-m {
  margin-bottom: 24px;
}

/* ------------------------------ */

.h2-mb-l {
  margin-bottom: 48px;
}

.h2-mb-m {
  margin-bottom: 24px !important;
}

/* Paddings */
.pb-0 {
  padding-bottom: 0 !important;
}
.pt-lg {
  padding: 64px 0 0 0;
}
.p-huge {
  padding: 160px 0;
}
.pb-xl {
  padding-bottom: 100px;
}
.p-m {
  padding: 24px;
}

.p-b-20 {
  padding-bottom: 20px;
}

/* Gaps */

.gap-6 {
  gap: 6px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.row-gap-17 {
  row-gap: 17px;
}
.col-gap-32 {
  column-gap: 32px;
}

/* .border-radius {
  border-radius: 4px;
} */
/* ---------------------------------- */
.section-background {
  background: #f9fbfe;
}

.box-padding-lg {
  padding: 56px 95px 56px 95px;
}

/* Background colors */

.box-bg-light-blue {
  background: #e5effe;
}

.box-bg-lighter-blue {
  background: #e5ebfe;
}
.bg-skyblue {
  background: #cadcf6;
}

.bg-blue {
  background: #0051ec;
}

.bg-linear {
  background: linear-gradient(
    141.64deg,
    #f1e6ff -0.78%,
    rgba(248, 233, 184, 0.416667) 53.02%,
    rgba(254, 236, 134, 0) 96.89%
  );
}

.bg-low-yellow {
  background: #feec86;
}
.bg-light-purple {
  background: #f9f8f6;
}
.bg-light-gray {
  background: #e8e5fe !important;
}

.bg-gray-purple {
  background: #ecebf8;
}
.bg-light-turquoise {
  background: #e5fcfe;
}
.bg-white {
  background: #fff;
}

/* Colors */

.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-green {
  color: #1aa603;
}

.text-color-gray{
  color: #8091B0;
}
/* --------------------------------------------------------------- */

.grid-col-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-col-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-5-fr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
}

.flex {
  display: flex;
}

.flex-center-s-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-baseline-s-b {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.flex-jc-center {
  display: flex;
  justify-content: center;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

.flex-al-baseline {
  display: flex;
  align-items: baseline;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-gap-32 {
  display: flex;
  gap: 32px;
}

.flex-col-gap-32 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inline-block {
  display: inline-block;
}

/* ---------------------------------------------------------------------- */
.container {
  width: 100%;
  max-width: 1116px;
  margin: 0 auto;
}

.container-l {
  margin: auto 257px;
}

.icon-font-size-m {
  font-size: 1.7rem;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #0051ec;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 40px;
  gap: 8px;
  padding: 14px 32px 14px 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: fit-content;
}

.btn__dark {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.mis__swiper-btns {
  padding: 12px 20px 12px 20px;
}
.btn__dark:hover {
  background: #02206f;
  border: 1px solid #02206f;
}

.dark-mode .btn__dark:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.btn__white {
  border: 1px solid #000;
  background: #fff;
  color: #000 !important;
}

.btn__white:hover {
  background: #d1e3fd !important;
  border: 1px solid #02206f;
  color: #02206f !important;
  transition: all 0.3s ease-in-out;
}

.btn__transparent {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.responsive-img {
  width: 100%;
  height: auto;
}

.in-text-link {
  color: #0051ec;
}
.in-text-underline {
  text-decoration: underline;
}

.status__content {
  width: 100%;
  border: none;
  overflow: hidden;
  height: 4550px;
}

.accordion-item {
  margin-bottom: 32px;
}

.accordion-header {
  border-bottom: 1px solid #e5effe;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  gap: 48px;
  transition: background-color 0.3s ease;
}

.accordion-header i {
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

.accordion-header.open i {
  transform: rotate(45deg);
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.accordion-content-inner {
  padding: 16px;
  box-sizing: border-box;
}

.accordion-content-inner ul li {
  display: flex;
  align-items: baseline;
}

.accordion-content-inner ul li i {
  font-size: 1.7rem;
}

/* Table styles */

.table-top,
.table-bottom {
  background: #fff;
  padding: 20px 16px;
}

.table-top {
  border: 1px solid #dddddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.table-bottom {
  border: 1px solid #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #6b7280;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  background: #f9fbfe;
}

td {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  background: #fff;
}

th,td {
  border-bottom: 1px solid #dddddd;
}
td {
  border-top: none;
}
td,
th {
  text-align: left;
  padding: 17px 0;
}

td > span{
  padding-left: 25px;
}

tr {
  border: 1px solid #dddddd;
  background: #fff;
}

tr:nth-child(3n) {
  background: #e5effe;
}

tr:hover {
  background: #e5effe;
}

.rwd-table {
  margin: 1em 0;
  width: 100%;
}

.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 720px) {
  .rwd-table td:before {
    display: none;
  }

  th,td {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  td > span{
    padding-left: 0;
  }
}

@media (min-width: 720px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}


@media (min-width: 720px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* Existing styles */

.cursor-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the line as needed */
  background-color: #000; /* Change the line color as needed */
  z-index: 10999; /* Ensures the line appears on top of other elements */
  pointer-events: none; /* Allows clicks to pass through the line */
}
.cursor-line.hide {
  display: none;
}

.player-wrapper {
  position: relative;
}

.dark-mode .player-wrapper {
  filter: grayscale();
}
/* .video-js {
  position: unset !important;
  background-color: transparent !important;
}
.video-js .vjs-control-bar {
bottom: -30px !important;
}

.video-js.vjs-fullscreen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999 !important;
}
.my-video-dimensions{
  height: auto !important;
}

.video-js {
 
  width: 100% !important;
}

.video-js .vjs-tech{
  position: unset !important;
}

.vjs-tech {
  pointer-events: none;
  width: 100% !important;
  height: unset !important;
  border-radius: 10px;
} */

/* Default styles for video container */
.video-js {
  width: 100%;
}

/* Media query for screens with a max width of 768px (typical tablets) */
@media screen and (max-width: 768px) {
  .video-js {
    max-width: 100%;
    height: 500px;
  }
}

/* Media query for screens with a max width of 480px (typical mobile devices) */
@media screen and (max-width: 480px) {
  .video-js {
    max-width: 100%;
    height: 200px;
  }
}

/* CSS for video in fullscreen mode */
.video-js.vjs-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.play-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 2;
  opacity: 1;
  padding: 16px;
  transition: opacity 0.3s;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
}

.play-button i {
  color: #0d115e;
}
.vjs-big-play-button {
  display: none !important;
}

.icon i {
  display: none;
}

.tabsBox .tab {
  font-size: 1.18rem;
  padding: 10px 25px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s ease;
}

.tabsBox.dragging .tab {
  user-select: none;
  pointer-events: none;
  transition: 0.3s ease;
}

.tabsBox .tab.active::after {
  position: absolute;
  left: 0;
  bottom: 10px;
  content: "";
  width: 100%;
  height: 3px;
  background: black;
  transition: all 0.3s ease;
}

.tab-container {
  display: flex;
  gap: 32px;
}
.tab {
  width: 150px;
  margin: 0 20px;
  padding: 20px 0;
  color: #607d8b;
  /* overflow: hidden; */
  text-align: center;
  cursor: pointer;
  position: relative;
}
.tab h3 {
  color: #8091b0;
}

.tab.active h3,
.tab.active p {
  color: #000;
}
.tab-content {
  display: none;
}

.indicator {
  width: 185px;
  height: 3px;
  background: #000;
  position: absolute;
  margin-top: 58px;
  margin-left: 0;

  -webkit-transition: margin 0.5s ease;

  transition: margin 0.5s ease;
}

/* Modal theme controls styles*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  right: 0;
  top: 0;
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 4px;
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 24px 32px 32px 32px;
}

.dark-mode .modal-content {
  filter: invert();
}
.modal-controls-wrapper {
  display: flex;
  gap: 32px;
}
.modal-controls {
  display: flex;
  gap: 10px;
}

.modal-btn {
  background: #fff;
  cursor: pointer;
  display: inline-flex;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 12px;
}
.modal-btn-rounded {
  width: 50%;
}

button:disabled {
  background: #f9fbfe;
  border-color: #f9fbfe;
}
button:disabled i {
  color: #f1f1f1;
}
button[disabled] {
  pointer-events: none;
}

.modal-btn i {
  font-size: 1.3rem;
}

/* The Close Button */
#closeModalBtn {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 32px;
}

/* Paginattion */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 24px;
  position: relative;
}
.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: transparent;
  color: #000;
}
.pagination-button-prev {
  position: absolute;
  left: 0;
}
.pagination-button-next {
  position: absolute;
  right: 0;
}
.document-files i,
.dashboard__info-list li i,
.pagination-button-prev i,
.pagination-button-next i {
  font-size: 2rem;
}

.active-pagination-button {
  background: #0051ec;
  color: #fff;
}

/* Add your CSS styles for the filters here */
.selects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 48px;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 40px;
  cursor: pointer;
  color: #9ca3af;
  background: #fff;
}
.select-header:hover {
  border-color: #2a21ff;
}

.select-header i {
  color: #9ca3af;
  font-size: 1.5rem;
}
.select-header .reset-button {
  color: #2a21ff;
}

.chips {
  cursor: default;
  border-radius: 40px;
  padding: 5px 10px;
  background: #e0e0e0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.reset-button {
  transform: rotate(45deg);
}
.reset-button:hover {
  color: #03052a;
}
.hidden {
  display: none !important;
}

.select-header-group {
  display: flex;
  gap: 12px;
}
.select-header-group p {
  color: #6b7280;
}

.options-list {
  display: none;
  width: 100%;
  margin-top: 8px;
  padding: 16px 8px 16px 8px;
  box-shadow: 0px 2px 8px 0px #27272714;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
}

.options-list li {
  padding: 12px 10px;
  cursor: pointer;
}

.options-list li:hover {
  background-color: #f0f0f0;
}
.show-options {
  display: block;
}

/* HEADER STYLES */

.header__top {
  padding: 16px 32px;
}
.header__top-logos {
  display: flex;
  gap: 24px;
}

.header__top-controls {
  gap: 28px;
}

.header__top-control--light,
.header__top-control--dark {
  border: 2px solid transparent;
  border-radius: 40px;
  gap: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.header__top-control--dark {
  background: #000;
  color: #fff;
}

.header__top-control--light {
  color: #000;
}

.header__top-control--light:hover {
  border: 2px solid #000;
  transition: all 0.3s ease-in-out;
}

.header__top-control--dark:hover,
.header__top-control--dark:focus {
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  transition: all 0.3s ease-in-out;
}

.header__nav {
  background: #fff;
}
/* icon */

.header__top-control--light i,
.header__top-control--dark i,
.textfield__box i,
.goals__button i,
.mis__top a i,
.patients__button i,
.doctors__button i,
.new__top-button i,
.articles__top-button i,
.footer__controls-list li a i,
.banner__btn i,
.dashboard__more-button i,
.mis__catalog-btn i,
.educatin-btn i {
  font-size: 1.5rem;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 1.6rem;
  height: 1rem;
  margin-right: 1rem;
  display: none;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 1rem;
  background: #000;
}

.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}

/* HERO */

.hero {
  padding: 107px 0;
  background-image: url(../assets/images/eHealth-grid-02-blue.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* background-size: cover; */
  transition: all 0.3s ease-out;
}

.dark-mode .hero {
  filter: grayscale();
}

.hero h1 {
  font-family: e-Ukraine-Bold, sans-serif;
  color: #fff;
  text-align: center;
  width: 70%;
}

.hero p {
  color: #fff;
  margin: 24px 0 32px 0;
}

.textfield__box {
  position: relative;
  width: 50%;
  border-radius: 40px;
  border: 2px solid transparent;
  padding: 1px;
  transition: 0.5s all ease;
}

.textfield__box:hover {
  border: 2px solid hsla(0, 0%, 100%, 0.27);
  transition: 0.5s all ease;
}
.textfield {
  width: 100%;
  padding: 16px 30px 16px 55px;
  border-radius: 38px;
  border: 2px solid #f1f1f1;
}

.textfield__box .search__icon {
  background: transparent;
  color: #9ca3af;
  position: absolute;
  padding-left: 10px;
  cursor: pointer;
  z-index: 20;
}

.textfield__box .cross__icon {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
}

.section {
  padding: 96px 0;
}

.section .m-0 {
  margin: 0;
}

.dark-mode .section {
  filter: grayscale();
}

.dark-mode .section-background,
.dark-mode .goals__section {
  background: #fff;
}

/* Most popular responses section  */
.dark-mode .responses__swiper-card {
  background: #fff;
  border: 1px solid #000;
}
.dark-mode .responses__swiper-card:hover {
  background: #fff;
}

/* Goals and Video*/

.video-container {
  margin-bottom: 100px;
}

.goals__section {
  background: #e5effe;
}

.goals__list {
  padding: 30px 0;
  display: flex;
}

.goals__list li {
  position: relative;
  padding: 0 30px;
  margin: 20px 0;
}

.goals__list li i {
  position: absolute;
  left: 0;
  top: 0;

  font-size: 1.7rem;
  color: #000;
}

/* MIS Homepage*/

.mis__section {
  position: relative;
  background: #f9fbfe;
}
.dark-mode .mis__section {
  filter: grayscale();
}

.new__top-button:hover,
.mis__top a:hover,
.goals__button:hover {
  background: #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.new__top-button:hover i,
.mis__top a:hover i,
.goals__button:hover i {
  color: #fff;
}

.mis__top a:hover i,
.goals__button:hover i,
.patients__button:hover i,
.doctors__button:hover i,
.new__top-button:hover i,
.articles__top-button:hover i,
.footer__controls-list li a:hover i,
.banner__btn:hover i,
.dashboard__more-button:hover i,
.mis__catalog-btn:hover i,
.educatin-btn:hover i {
  transition: all 0.3s ease-in-out;
  transform: translate3d(7px, 0, 0);
}

/* How connect section homepage */
.connect__section,
.connect__section h2 {
  text-align: center;
}

.connect__section-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 20px;
}

.connect__section-list li a {
  text-align: left;
  color: #000;
  background: #fff;
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #e5effe;
}

.dark-mode .connect__section-list li a {
  border-color: #000;
  filter: grayscale();
}
.connect__section-list li a:hover {
  background: #e5effe;
  transition: all 0.3s ease-in-out;
}

.connect__section-list li a:hover img,
.mis__catalog-box-list li a:hover img,
.icons__container li:hover img,
.academy__courses-box-list li:hover img,
.system__monitoring-box-list li:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(0.7);
  /* width: 40px;
  height: 40px; */
}

.connect__section-list li a img {
  transition: all 0.3s ease-in-out;
  width: 56px;
  height: 56px;
}

/* For Ptients and Doctors */

.doctors__content-text {
  padding-left: 110px;
}

.patients__content-image img {
  width: auto;
}

.patients__content-links,
.doctors__content-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.patients__content-links li a,
.doctors__content-links li a {
  display: block;
  padding: 12px;
  border: 1px solid #0d115e;
  border-radius: 100px;
  color: #0d115e;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
}

.dark-mode .patients__content-links li a,
.dark-mode .doctors__content-links li a {
  color: #000;
  border-color: #000;
}

.patients__content-links li a:hover,
.doctors__content-links li a:hover {
  border: 1px solid #02206f;
  color: #02206f;
  transition: all 0.3s ease-in-out;
}
.dark-mode .patients__content-links li a:hover,
.dark-mode .doctors__content-links li a:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.patients__button,
.doctors__button,
.new__top-button,
.articles__top-button,
.btn-content,
.top__section-link > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.dark-mode .patients__content-image,
.dark-mode .doctors__content-image {
  filter: grayscale();
}

/* NEWS and ARTICLES*/

.new__top {
  margin-bottom: 48px;
}
.news__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
.news__first-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dark-mode .news__first-item {
  filter: grayscale();
}

.news__content-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.articles__content-list {
  display: flex;
  gap: 24px;
}

.articles__content-list li {
  flex: 0 0 32%;
}



.articles__content-list img {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 12px;
}

.news__content-list p,
.articles__content-list p,
.news__caontent-sublist p {
  margin-bottom: 12px;
  color: #8091b0;
}

.news__content-list a,
.articles__content-list a,
.news__content-list a h4,
.articles__content-list a h4 {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.news__content-list li:hover a h4,
.news__content-list li:hover p,
.news__caontent-sublist li:hover a h4,
.news__caontent-sublist li:hover p,
.articles__content-list li:hover a h4,
.articles__content-list li:hover p {
  color: #0051ec;
  transition: all 0.3s ease-in-out;
}

.news-container a:hover,
.news-container a:hover > p{
  color: #0051ec !important;
}

/* .news__content-list a h4:hover,
.articles__content-list a h4:hover {
  color: #0051ec;
  transition: all 0.3s ease-in-out;
} */

.news__content-list a h4,
.articles__content-list a h4,
.news__caontent-sublist a h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #000;
}

.btn.btn__white.articles__top-button {
  background: transparent;
}

/* Footer */
.footer {
  padding: 47px 0px 16px 0px;
  background: #03052a;
}

.dark-mode .footer {
  background: #fff;
}

.footer h2,
.footer h4,
.footer a {
  color: #fff;
}

.dark-mode .footer h2,
.dark-mode .footer h4,
.dark-mode .footer a {
  color: #000;
}

.footer__navigation {
  margin: 48px 0;
}

.footer__navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__navigation-sublist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__navigation-item{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__navigation-item h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

}

.footer__navigation-subitem h4 {
  gap: 16px;
  margin: 0;
}

.footer__navigation-item li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.footer__navigation-link {
  position: relative;
  display: inline-block;
}

.footer__navigation-link::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #fff;
  bottom: -6px;
  left: 0;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.footer__navigation-link:hover:after {
  background-color: #fff;
  transform: scaleX(1);
  transform-origin: center;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  color: #fff;
}

.dark-mode .footer__socials {
  color: #000;
}
.footer__socials-list {
  display: flex;
  gap: 20px;
}
.dark-mode .footer__socials-list {
  filter: grayscale();
}

.footer__socials-list i {
  font-size: 3rem;
  position: relative;
  cursor: pointer;
}

.masked-icon {
  position: relative;
  overflow: hidden;
}

.masked-icon::before {
  content: "";
  position: absolute;
  width: 43px;
  border-radius: 50%;
  height: 39px;
  background-color: #fff;
  transform: translate(2px, 7px);
}

.masked-icon:nth-last-child(1)::before {
  width: 38px;
  border-radius: 1%;
  height: 34px;
  transform: translate(3px, 7px);
}

.masked-icon:nth-last-child(2)::before {
  width: 29px;
  border-radius: 1%;
  height: 29px;
  transform: translate(12px, 9px);
}

.footer__controls-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__controls-list li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.footer__divider {
  border-top: 1px solid #3756a6;
  margin: 16px 0;
}

.footer__bootom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bootom-logos {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__bootom-logos a img {
  width: 100%;
  object-fit: contain;
}

.footer__bootom p {
  color: #fff;
}

/* Breadcrambs */

#breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

#breadcrumbs li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
}

#breadcrumbs li:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #8091b0;
  margin-right: 10px;
}

#breadcrumbs li a,
#breadcrumbs li {
  color: #8091b0;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

#breadcrumbs li:last-child {
  color: #475a7c;
}

/* Pages styles */

.goals__img img,
.nhcs__description img {
  width: 100%;
  height: auto;
}
.section-content-with-img img,
.dashboard__info img {
  width: 100%;
}

.contacts,
.top__section {
  padding: 24px 0 48px 0;
  border-bottom: 2px solid #f1f1f1;
}

.dark-mode .top__section {
  filter: invert();
}

.top__section-link {
  cursor: pointer;
  gap: 8px;
  padding: 14px 32px 14px 32px;
}

.article,
.mis__article {
  padding: 64px 0;
}

/* EHCS Page */

.article__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(462px, 1fr));
  gap: 32px;
}
.article__list li {
  display: flex;
  align-items: baseline;
}

.article__list i,
.check-list-icon {
  font-size: 1.7rem;
  margin-right: 16px;
}

.section h2 {
  margin-bottom: 48px;
}

.section__box {
  border-radius: 4px;
}

.section__box-content {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(462px, 1fr)); */
  gap: 24px;
  row-gap: 48px;
}

.bolck__content h3 {
  margin-bottom: 48px;
}

.section__box h3 {
  margin-bottom: 16px;
}

.item__list {
  margin: 32px 0;
}

.item__list h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.item__list li {
  display: flex;
  align-items: baseline;
}

.item__list li i {
  margin-right: 16px;
  font-size: 1.3rem;
}
.item__list li:not(:last-child) p {
  margin-bottom: 12px;
}

.item__list li p a {
  color: #0051ec;
}

.image__box {
  display: inline-flex;
  background: #f9fbfe;
  padding: 12px;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.how__choose-mis-help-list .image-link:hover .image__box {
  background: #e5effe;
  transition: all 0.3s ease-in-out;
}

.image-width-height-l {
  width: 56px;
  height: 56px;
}

.image-width-height-medium {
  width: 24px;
  height: 24px;
}

.section__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
  gap: 40px;
  margin-top: 48px;
}

.left-long {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 32px;
}

.right-long {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 32px;
}
.role-card {
  background: #fff;
  padding: 24px 20px;
  border: 1px solid #f1f1f1;
}

/* MIS Page Styles */

.mis__article-heading p {
  margin: 24px 0 48px 0;
}

.mis__article h3 {
  margin-bottom: 32px;
}

.mis__article .mis__article-content:not(:last-child) {
  margin-bottom: 48px;
}

.mis__article-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(383px, 1fr));
  gap: 24px;
}
.icon-box {
  background: #f9fbfe;
  padding: 24px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.icon-box.box-hover:hover {
  background: #e5effe;
  cursor: pointer;
}
.icon-box.box-hover:hover .image__box.image__box-hover {
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.icon-box.amount-box {
  background: #fff;
  border: 1px solid #f1f1f1;
}

.icon-box.amount-box span {
  font-size: 64px;
  line-height: 94px;
  font-weight: 700;
}

.icons__box {
  padding: 32px 24px 32px 24px;
}

.content-box {
  background: #fff;
  border: 1px solid #f1f1f1;
  padding: 32px;
}

.content-box.p-m {
  padding: 24px 20px;
}

.mis__article-content ul li {
  padding: 20px;
}
.mis__article-content ul li:not(:last-child),
.reisters__section-content-checklist li:not(:last-child) {
  margin-bottom: 24px;
}

.mis__section-content-checklist,
.dashboards__section-content-checklist {
  display: grid;
  row-gap: 24px;
}

.mis__section-content-checklist li,
.reisters__section-content-checklist li,
.dashboards__section-content-checklist ul li {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.mis__section-content-checklist li i,
.reisters__section-content-checklist li {
  font-size: 1.5rem;
}
.mis__banner {
  position: relative;
  width: 100%;
  background-image: url(../assets/images/banners_images/cell_asset\ 1.png);
  background-size: contain;
  background-position: center;
  opacity: 0.8;
  border-radius: 24px;
  min-height: 205px;
  filter: blur(2px);
}

.mis__banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 81, 236, 0.8); /* Black w/opacity/see-through */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
  border-radius: 24px;
  padding: 35px 0;
  overflow: hidden;
}
.banner__title {
  width: 70%;
}

.banner__img {
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 2;
}

.mis__banner-content .banner__img-left {
  left: -3px;
  top: -1px;
}

.mis__banner-content .banner__img-right {
  right: 0;
  bottom: 0;
}
/* IS NHCS PAGE */

.nhcs__description p:not(:last-child) {
  margin-bottom: 12px;
}

.nhcs__notification {
  padding-bottom: 100px;
}

.notification__box,
.registers__box {
  display: flex;
  padding: 20px;
  gap: 10px;
  border: 2px solid #0051ec;
}
.notification__box img {
  width: 48px;
  height: 48px;
}

/* Registers Page */

.registers__types-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.registers__types-list li h5 {
  margin-top: 12px;
  margin-bottom: 8px;
}

.reisters__section-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Dashboards Page */

.dashboards__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.dashboards__section-content {
  display: flex;
  gap: 24px;
}

.inner-wrapper {
  display: grid;
  gap: 24px;
}
.dashboards__section-content-checklist ul li i {
  font-size: 1.7rem;
}

.dashboard__article-content-list {
  justify-content: space-between;
  display: inline-flex;
  flex-wrap: nowrap;
}

.dashboard__article-content-item-top {
  background: #1a43a9;
  color: #fff;

  padding: 20px;
}
.dashboard__article-content-item-top {
  margin-right: 20px;
}

.dashboards__section-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.notification {
  display: flex;
  align-items: flex-start;
  background: #f9dbca;
  padding: 24px;
  gap: 20px;
}

.notification__box.notifivation-medium {
  border-color: #ffd43a;
  background: #fff7e4;
}

.dashboard__more-button {
  width: fit-content;
  height: fit-content;
}

.dashboard__info-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 16px;
}

.dashboard__info {
  display: flex;
  gap: 24px;
}

.dashboard__info-list li {
  display: flex;
  flex-direction: column;
  background: #f9fbfe;
  gap: 12px;
  padding: 20px;
}

/* Service Providers */

.provider.article {
  padding: 35px 0 100px 0;
}

.providers__connect-list {
  gap: 24px;
}

.providers__connect-list li {
  position: relative;
  display: flex;
  padding: 24px 24px 24px 182px;
  background: #fff;
}

.providers__connect-list li h3 {
  margin-bottom: 24px;
}

.providers__connect-list li h5,
.providers__connect-list li p {
  margin-bottom: 16px;
}

.providers__connect-list li .number__box {
  position: absolute;
  left: 0;
  border: 1px solid #f1f1f1;
  display: flex;
  text-align: center;
  min-width: 134px;
  background: #fff;
  padding: 24px;
  margin-left: 24px;
  height: 123px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.providers__connect-list li:hover .number__box {
  background: #0d115e;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.providers__connect-list li .number__box span {
  font-size: 64px;
  font-weight: 500;
  line-height: 96px;
}

/* Service Providers, how to choose MIS page*/
.how__choose-mis-help-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.how__choose-mis-help-list li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Service Providers -> To Doctors -> Education*/

.education__block-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.education__block-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  padding: 32px;
}

.education__block-item-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.education__block-item-top-btn {
  align-self: flex-end;
  justify-self: flex-end;
}

.education__block-item-inner-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.education__block-sublist,
.education__block-nczu,
.education__block-moz {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.education__block-sublist li a,
.education__block-nczu li a,
.education-block-diia li a,
.education__block-moz li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #e5effe;
}

.education__block-nczu li:hover,
.education-block-diia li:hover,
.education__block-moz li :hover,
.education__block-sublist li:hover {
  transform: scale(0.98);
}

.education__block-sublist li i,
.education__block-nczu li i,
.education-block-diia li i,
.education__block-moz li i {
  font-size: 2.3rem;
}
/* Contacts Page */

.contacts h1 {
  margin: 64px 0 48px 0;
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 20px;
}

.contacts__list h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  margin-bottom: 16px;
}

.contacts__list p {
  margin-bottom: 8px;
}

.contacts__list a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  color: #0051ec;
}

/* Catalog page */
.logo-container {
  text-align: center;
  padding: 0 40px;
}

.catalog-logo-img {
  aspect-ratio: 16/5;
  object-fit: scale-down;
  max-width: 100%;
}

/* 404 page styles*/

.numbers-large {
  font-size: 128px;
  font-weight: 500;
  line-height: 166.4px;
}
@media (max-width: 1210px) {
  .wrapper {
    position: relative;
    border-radius: 15px;
    overflow-x: hidden;
    transition: 0.3s ease;
    display: flex;
    align-items: baseline;
    gap: 15px;
  }
  .wrapper .icon {
    position: relative;
  }
  .icon i {
    position: relative;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .icon i:hover {
    border: 1px solid #000;
    transition: all 0.5s ease-in-out;
  }
  .wrapper .tabsBox {
    display: flex;
    gap: 15px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    list-style: none;
  }
  .tabsBox.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
}

/* Media Queries */
@media (max-width: 1050px) {
  .container {
    max-width: 900px; /* Adjust this value to your desired tablet width */
  }

  .container-l {
    margin: auto 90px;
  }
  .textfield__box {
    width: 100%;
  }

  .registers__types-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .patients__content {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .doctors__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .patients__content-links,
  .doctors__content-links {
    flex-direction: column;
    width: 100%;
  }

  .doctors__content-text,
  .patients__content-text {
    padding: 0;
  }
  .news__content {
    grid-template-columns: unset;
  }
}
@media (min-width: 851px) and (max-width: 1200px) {
  .container {
    max-width: 90%; /* Adjust this value for the desired width */
  }
}
@media (max-width: 1200px) {
  .footer__controls-list {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1050px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .header__top-control--light {
    display: none;
  }
  .navbar {
    position: absolute;
  }
}

@media (min-width: 720px) and (max-width: 1020px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 720px) {
  .in-text-link {
    word-break: break-all;
  }
  .btn {
    white-space: unset;
  }
  .responsive-width {
    width: 100%;
  }
  .container {
    width: 80%;
  }

  .section h2 {
    margin-bottom: 30px;
  }

  .menu-link-wrapper {
    width: 100% !important;
  }
  .grid-col-1-1.block,
  .flex.block,
  .dashboards__section-content.block,
  .dashboard__info.block,
  .footer__bootom,
  .footer__bootom-logos,
  .top__section-title {
    display: flex;
    flex-direction: column;
  }

  .footer__bootom{
    gap: 24px;
  }

  .grid-col-1-1.grid-col-1,
  .grid-col-1-1-1.grid-col-1,
  .how__choose-mis-help-list.grid-col-1,
  .mis__article-content.grid-col-1,
  .how__choose-mis-help-list.grid-col-1,
  .grid-col-5-fr.grid-col-1,
  .selects-container,
  .mis-card-conatiner.grid-col-1 {
    grid-template-columns: 1fr;
  }

  .education__block-item-top {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .education__block-item-inner-img img {
    width: 100%;
  }
  .grid-col-1-1.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .swiper__buttons {
    display: none !important;
  }
  .section {
    padding: 50px 0;
  }

  .banner {
    border-radius: 10px !important;
    padding: 20px 0 !important;
  }

  #dashboardsSwiper .swiper-card {
    min-height: 470px !important;
  }
  .dashboard__more-button {
    margin-bottom: 24px;
  }
  .providers__connect-list li {
    flex-direction: column;
    gap: 32px;
    padding: 24px 24px 24px 24px;
  }
  .providers__connect-list li .number__box {
    position: unset;
    margin-left: 0;
  }
}

@media (max-width: 730px) {
  .flex-baseline-s-b.block {
    flex-direction: column;
  }
  .hero h1 {
    width: unset;
  }

  .news__content {
    display: flex;
    flex-direction: column;
  }

  .news__content-list {
    grid-template-columns: unset;
  }

  .articles__content-list,
  .footer__controls-list {
    flex-direction: column;
  }
  .patients__content-image img,
  .doctors__content-image img {
    width: 100% !important;
  }

  .dashboard__slider-content-top,
  .responses__slider-content-top,
  .homepage__content-top {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  h1 {
    font-size: 40px;
    line-height: 57px;
  }
  .flex-center-s-b {
    flex-direction: column;
  }
  .flex-center-s-b.remove-column {
    flex-direction: row;
  }
  .container-l {
    margin: auto 40px;
  }
  .registers__types-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .flex-baseline-s-b.column {
    display: block;
  }
  .select-header {
    margin-bottom: 24px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 30px;
  }
  .section .m-0 {
    margin: 0;
  }
  .container {
    max-width: 320px; /* Adjust this value for mobiles */
  }
  .connect__section-list,
  .article__list,
  .left-long,
  .right-long,
  .section__box-content,
  #breadcrumbs,
  .flex-baseline-s-b.block,
  .flex-gap-32.block,
  .grid-col-1-1.block,
  .grid-col-1-1-1.block,
  .grid-col-1-1-1-1.block {
    display: flex;
    flex-direction: column;
  }
  #breadcrumbs {
    align-items: baseline;
    gap: 12px;
  }
  .box-padding-lg {
    padding: 20px;
  }

  .section__box-content.reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 392px) {
  .logo-img {
    width: 10rem;
  }
  .btn,
  .btn-primary {
    padding: 0.4rem 1rem;
  }

  .patients__content-image img {
    width: initial;
  }

  .play-button {
    top: 100px;
  }
  .indicator {
    width: 158px;
  }
}

/* Swiper */

.swiper-card {
  display: block;
  padding: 31px 32px 31px 32px;
  min-height: 175px;
  position: relative;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  background: #fff;
  border: 1px solid #f1f1f1;
  transition: all 0.3s ease-in-out;
}

/* Define card height for swiper1 container */
#swiper1 .swiper-card {
}

#swiper1 .swiper-card i,
#systemsSwiper .swiper-card i,
#developersSwiper .swiper-card i,
#newsSwiper .swiper-card i {
  font-size: 2.5rem;
  position: absolute;
  bottom: 20px;
  left: 24px;
}

#swiper1 .swiper-card:hover,
#systemsSwiper .swiper-card:hover,
#developersSwiper .swiper-card:hover,
#newsSwiper .swiper-card:hover {
  background: #d1e3fd;
  transition: all 0.3s ease-in-out;
}

#swiper1 .swiper-card:hover i,
#systemsSwiper .swiper-card:hover i,
#developersSwiper .swiper-card:hover i,
#newsSwiper .swiper-card:hover i {
  left: 32px;
  transition: all 0.3s ease-in-out;
}

/* Define card height for swiper2 container */
#swiper2 .swiper-card {
  border: 1px solid #e5effe;
  background: #fff;
  min-height: 240px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding: 20px;
  gap: 16px;
}

#swiper2 .swiper-card i {
  color: #0051ec;
  font-size: 1.5rem;
}

/* Define card height for dashboardsSwiper container */
#dashboardsSwiper .swiper-card {
  min-height: 400px; /* Adjust the height as needed */
  background: #f9fbfe;
  border: none;
}

#dashboardsSwiper .swiper-card i {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  left: 24px;
}

#dashboardsSwiper .swiper-card:hover {
  background: #e5effe;
  transition: all 0.3s ease-in-out;
}

/* Define card height for systemsSwiper container */
#systemsSwiper .swiper-card {
  min-height: 140px; /* Adjust the height as needed */
}

.responses-swiper-slide {
  margin-right: 20px !important;
}

.dashboard__slider {
  position: relative;
}

.dashboard__slider-content-top,
.responses__slider-content-top,
.homepage__content-top {
  display: flex;
  justify-content: space-between;
}

.swiper__buttons {
  display: flex;
  align-items: baseline;
  gap: 42px;
}

.swiper__buttons i {
  font-size: 3rem !important;
  color: #000 !important;
  opacity: unset !important;
}

.swiper__buttons i.swiper-button-disabled {
  color: #f1f1f1 !important;
}
.footer__swiper-buttons i {
  color: #fff !important;
}
.footer__swiper-buttons i.swiper-button-disabled {
  color: #173993 !important;
}
.card__box i {
  position: absolute;
  bottom: 15px;
  font-size: 2rem;
}

.slide-container {
  position: unset !important;
  width: auto !important;

  display: flex !important;
  flex-direction: column;

  gap: 106px;
}

.card__box {
  background: #e5effe;
  margin-right: 20px !important;
}
.card-text {
  display: flex;
  flex-direction: column;

  gap: 12px;
  padding: 24px 24px 60px;
}

.swiper-slide {
  height: auto !important;
}

.swiper-navBtn,
.partners-button-next,
.partners-button-prev {
  position: unset !important;
  opacity: unset;
  margin-top: 0 !important;
  left: auto !important;
}

.swiper-navBtn::after,
.partners-button-next::after,
.partners-button-prev::after {
  content: "" !important;
}

.swiper-navBtn.active-button {
  color: #000 !important;
}

.swiper-navBtn.swiper-button-disabled {
  color: #173993 !important;
  opacity: unset !important;
}

.swiper__section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.dark-mode .swiper__section {
  filter: grayscale();
}

.swiper {
  width: 100%;
}

.card {
  position: relative;
  background: #fff;
  margin: 20px 0;
}

.card-content {
  text-align: center;
}
/* swiper-button-next .swiper-pagination {
  position: absolute;
} */

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  /* color: #114c80; */
  transition: all 0.3s ease;
  top: 65% !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #114c80;
}

.swiper-button-next {
  right: -29px !important;
}
.swiper-button-prev {
  left: -29px !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 65px !important;
}

.swiper-pagination.partners-swiper-pagination {
  top: 0 !important;
}
.image {
  padding: 24px;
}

.image img {
  display: block;
  width: 100%;
  aspect-ratio: 10/4;
  object-fit: contain;
}

/* Loader Styles */

.loader-container {
  position: relative;
  width: 100%;
  height: 150px; /* Adjust this height as needed */
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Keyframe animation for the loader */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mis-card-conatiner {
  background: #fff;
  padding: 32px 24px 32px 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 64px;
}

.mis-card-left {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.mis-card-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mis-card-controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

/* // Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.bx.bx-x.close-menu {
  display: none;
}

.navbar-center {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}
/* // Media Query Breakpoint */
@media only screen and (max-width: 1050px) {
  .navbar-center {
    flex: 0 0 100%;
    order: 3;
    align-items: center;
  }
  .bx.bx-x.close-menu {
    display: block;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 2rem;
  }
}

/* // Media Query Breakpoint */

@media only screen and (min-width: 1050px) {
  .menu-link-wrapper > i.bx {
    display: none;
    font-size: 1.35rem;
    margin-left: 0.25rem;
    transform: rotate(90deg);
  }
}
@media only screen and (max-width: 1050px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transform: translate(-100%);
    background-color: #fff;
    transition: all 0.4s ease-in-out;
  }
  .is-active {
    transform: translate(0%);
  }
  .menu-arrow {
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 4rem;
    text-align: center;
  }

  .menu-arrow > i.bx {
    font-size: 1.5rem;
    line-height: 4rem;
    transition: all 0.25s ease;
  }

  .menu-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
  }

  .menu-inner {
    display: block;
    height: 100%;
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-item {
    display: block !important;
    line-height: 1;
    padding: 10px;
  }

  .menu-link {
    justify-content: space-between;

    line-height: 1.5rem;
    padding-inline: 1.25rem;
  }
  .menu-link-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
  }

  .menu-link-wrapper > i.bx {
    /* display: none; */
    margin-left: 0.5rem;
    transform: rotate(0deg);
    cursor: pointer;
    font-size: 1.7rem;
  }
}

.menu-inner .menu-link:not(.active):hover {
  color: #007bff;
}

.menu-inner .menu-link.active {
  color: #007bff !important;
}

.menu-header {
  display: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.menu-item {
  display: inline-block;
  line-height: 1.5;
  /* padding-right: 1.25rem; */
  transition: all 0.3s ease-in-out;
}

.menu-link {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* .menu-link-wrapper > i.bx {
  display: none;
  font-size: 1.35rem;
  margin-left: 0.25rem;
  transform: rotate(90deg);
} */

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 1.45rem;
  transition: all 0.25s ease;
}

/* // Media Query Breakpoint */
@media only screen and (min-width: 993px) {
  .menu-dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 1rem;
  }
  .menu-item:hover .menu-link {
    color: #0051ec;
  }
  .dark-mode .menu-item:hover .menu-link::before {
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    content: "";
    background: #000;
    height: 2px;
    width: 100%;
  }

  .dark-mode .menu-item:hover .menu-link {
    color: #000;
  }
}

/* // Media Query Breakpoint */
@media only screen and (min-width: 1050px) {
  .menu-inner {
    display: flex;
    gap: 20px;
  }
}

@media only screen and (max-width: 1050px) {
  .menu-header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }

  .is-active {
    visibility: visible;
    background-color: #fff;
  }
  .is-active > .menu-arrow {
    display: block;
  }
}

.submenu {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  background: #f9fbfe;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.25s ease-in-out;
}
.dark-mode .submenu {
  background: #fff;
}

.submenu-inner {
  flex: 0 0 25%;
  padding: 0 1rem;
}

.submenu-title {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 24px 0;
  transition: all 0.3s ease;
}

.submenu-title.no-wrap {
  white-space: nowrap;
}

.submenu-item {
  display: block;
  line-height: 1;
  margin: 0 auto;
}

.submenu-item a:hover,
.submenu-link h4:hover {
  color: #0051ec;
}

.submenu-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-bottom: 20px;
  /* word-break: ; */
  transition: all 0.25s ease-in-out;
}
.submenu-link.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 6px;
}

.submenu-link.small-text.p-b-20 {
  padding-bottom: 20px;
}

/* // Media Query Breakpoint */
@media only screen and (max-width: 1050px) {
  .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    box-shadow: none;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }

  .submenu-inner {
    flex: 0 0 100%;
    padding: 0rem;
  }

  .submenu-list {
    margin-bottom: 1rem;
  }

  .submenu-link {
    display: block;
  }

  .submenu-image {
    margin-top: 0;
  }
}

.megamenu {
  left: 50%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transform: translateX(-50%);
}

.megamenu-column-1 {
  left: 65%;
  max-width: 15rem;
  width: 100%;
  height: auto;
}

.megamenu-column-4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 62rem;
  height: auto;
  margin: 0 auto;
}

/* // Media Query Breakpoint */
@media only screen and (max-width: 1050px) {
  .megamenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    box-shadow: none;
  }
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
}
/* // Media Query Breakpoint */
@media only screen and (max-width: 1050px) {
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.banner {
  border-radius: 400px;
  background-image: url(../assets/images/Banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner h2 {
  color: #fff;
}
